<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Book Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="content">
        <form method="post" enctype="multipart/form-data">

            <h1 class="header">Book Library</h1>

            <label class="books" for="title">Book name:</label>
            <input type="text" id="title" name="title"><br>

            <label class="books" for="author">Author:</label>
            <input type="text" id="author" name="author"><br>

            <p>
                <button class="save_button" type="submit" value="save">Save Book</button>
            </p>
        </form>
    </div>
</body>

</html>
